In [47]:
import pandas as pd

## Pandas functions learning

In [84]:
## read_excel()
df_orig = pd.read_excel("./test.xlsx", index=None)
print(df_orig)

   id gen  age  score
0   1   M   19     60
1   2   F   20     80
2   3   M   21     70
3   4   M   18     60
4   5   F   22     60
5   6   F   20     90
6   7   F   21     80
7   8   F   19     90
8   9   M   23     70
9  10   M   17     70

In [85]:
## groupby()
df_orig.groupby("age").size()

age
17    1
18    1
19    2
20    2
21    2
22    1
23    1
dtype: int64

In [87]:
## get_group()
df_orig.groupby("age").get_group(20)

   id gen  age  score
1   2   F   20     80
5   6   F   20     90

In [88]:
## unique()
print(df_orig["score"].unique().tolist())

[60, 80, 70, 90]

In [89]:
## replace()
gen_transform_dict = {"M": "Male", "F": "Female"}
df_orig = df_orig.replace({"gen": gen_transform_dict})
print(df_orig)

   id     gen  age  score
0   1    Male   19     60
1   2  Female   20     80
2   3    Male   21     70
3   4    Male   18     60
4   5  Female   22     60
5   6  Female   20     90
6   7  Female   21     80
7   8  Female   19     90
8   9    Male   23     70
9  10    Male   17     70

In [90]:
## add new column
df_orig["emergency"] = 0
print(df_orig)

   id     gen  age  score  emergency
0   1    Male   19     60          0
1   2  Female   20     80          0
2   3    Male   21     70          0
3   4    Male   18     60          0
4   5  Female   22     60          0
5   6  Female   20     90          0
6   7  Female   21     80          0
7   8  Female   19     90          0
8   9    Male   23     70          0
9  10    Male   17     70          0

In [91]:
## apply(): apply a self-definited function on each row
def emergency_transform(row, base_tag):
    label = 0
    base_tag = row[base_tag]
    if base_tag != 60:
        label = 0
    else:
        label = 1
    return label

In [92]:
df_orig["emergency"] = df_orig.apply(emergency_transform,
        base_tag="score",
        axis=1)

In [93]:
print(df_orig)

   id     gen  age  score  emergency
0   1    Male   19     60          1
1   2  Female   20     80          0
2   3    Male   21     70          0
3   4    Male   18     60          1
4   5  Female   22     60          1
5   6  Female   20     90          0
6   7  Female   21     80          0
7   8  Female   19     90          0
8   9    Male   23     70          0
9  10    Male   17     70          0

In [97]:
## reset_index(): select some data and reset their index
df_orig[df_orig["gen"] == "Male"].reset_index(drop=True)

   id   gen  age  score  emergency
0   1  Male   19     60          1
1   3  Male   21     70          0
2   4  Male   18     60          1
3   9  Male   23     70          0
4  10  Male   17     70          0

In [98]:
## sample(): sampling n data
df_orig.sample(5).reset_index(drop=True)

   id     gen  age  score  emergency
0   9    Male   23     70          0
1   7  Female   21     80          0
2   6  Female   20     90          0
3   4    Male   18     60          1
4   5  Female   22     60          1

In [100]:
## describe()
df_orig.describe()

             id        age      score  emergency
count  10.00000  10.000000  10.000000  10.000000
mean    5.50000  20.000000  73.000000   0.300000
std     3.02765   1.825742  11.595018   0.483046
min     1.00000  17.000000  60.000000   0.000000
25%     3.25000  19.000000  62.500000   0.000000
50%     5.50000  20.000000  70.000000   0.000000
75%     7.75000  21.000000  80.000000   0.750000
max    10.00000  23.000000  90.000000   1.000000

In [102]:
## head(): show the first 5 lines
df_orig.head()

   id     gen  age  score  emergency
0   1    Male   19     60          1
1   2  Female   20     80          0
2   3    Male   21     70          0
3   4    Male   18     60          1
4   5  Female   22     60          1

In [111]:
## iloc[]: select a specified line
print(df_orig.iloc[3])
print("##### Emergency status is: ", df_orig.iloc[3]["emergency"])

id              4
gen          Male
age            18
score          60
emergency       1
Name: 3, dtype: object
##### Emergency status is:  1